/* Das.css */

/* Sidebar styles */

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #343a40; /* Dark background color */
    padding-top: 20px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1); /* Sidebar shadow */
  }
  
  #sidebar ul.nav.flex-column {
    padding-left: 10px;
  }
  
  #sidebar .nav-link {
    color: #ced4da; /* Text color */
    border-bottom: 1px solid #495057; /* Border color between links */
    font-size: 20px;
    color: #0056b3;
  }
  
  #sidebar .nav-link.active {
    font-weight: bold;
    background-color: #495057; /* Background color for the active link */
    color: #fff; /* Text color for the active link */
  }
  
  /* Main content styles */
  main {
    margin-top: 20px;
  }
  
  /* Stylish button */
  .nav-link.btn-profile {
    background-color: #007bff; /* Blue color */
    color: #fff; /* White text color */
    border-radius: 5px;
    padding: 10px;
    text-align: center;
  }
  
  /* Add hover effect to the button */
  .nav-link.btn-profile:hover {
    background-color: #0056b3; /* Darker blue color on hover */
    text-decoration: none; /* Remove default underline on hover */
  }
  
  /* Add a background color and padding to the container */
  .container-fluid {
    background-color: #f8f9fa; /* Light gray background color */
    padding: 20px;
  }
  
  /* Add a border and shadow to the main content */
  main {
    border: 1px solid #dee2e6; /* Border color */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Main content shadow */
  }
  

  .container-fluid
  {
    background-color: blueviolet;
    padding: 20px;
  }